*
{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: white;
    min-width: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #E3F4FE;
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(255, 255, 255, .07);
    padding: 6px 14px;
    transition: .5s ease;
    z-index: 100;
}

.sidebar.active{
    width:240px ;
}

.sidebar .logo-container .logo{
    display: flex;
    align-items: center;
    color: #333;
    width: 100%;
    height: 50px;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}

.sidebar.active .logo-container .logo{
    transition-delay: .2s;
    opacity: 1;
}

.sidebar .logo-container .logo h3 {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
}

.logo-container .logo .i{
    font-size: 28px;
    margin-right: 5px;
    color: #494848;
}

.sidebar #btn{
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position:relative;
    width: 100%;
    height: 50px;
    list-style: none;
    margin: 5px 0;
    line-height: 50px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    color: #494848;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s ease;

}

.sidebar ul li a:hover{
    background: #C6E9FC;
    color:#34bbf8 ;

}

.sidebar ul .list-item.active a{
    background: #C6E9FC;
    color: #34bbf8;
}

.sidebar ul li i{
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.sidebar.active .links-name{
    transition-delay: .2s;
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .in{
    position: relative;
    left: 10px;
    min-width: 30px;
    height: 20px;
    text-align: center;
    line-height: 50px;
}

.sidebar ul li #fich{
    margin-left: 20px;
}

.sidebar ul li .tooltip{
    position: absolute;
    top: 0;
    left: 130px;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 35px;
    background: #949495;
    color:#333;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 35px;
    pointer-events: none;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    transition: .5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul #dash .tooltip{
    position: absolute;
    top: 0;
    left: 130px;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 35px;
    background: #949495;
    color:#333;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 35px;
    pointer-events: none;
    opacity: 0;
}

.sidebar ul #dash:hover .tooltip{
    transition: .5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul #list-users .tooltip{
    position: absolute;
    top: 0;
    left: 130px;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 35px;
    background: #949495;
    color:#333;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 35px;
    pointer-events: none;
    opacity: 0;
}

.sidebar ul #list-users:hover .tooltip{
    transition: .5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.main-content{
    position: absolute;
    max-width: calc(100% - 80px);
    min-width: calc(100% - 80px);
    overflow-x:hidden ;
    margin-left: 80px;
    min-height: 100vh;
    transition: .5s;
}

.main-content.active{
    width: calc(100% - 240px);
    margin-left: 240px;

}

header{
    position: absolute;
    top:0;
    left: 0;
    z-index:100;
    width: 100%;
    height: 60px;
    padding: 0rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 5px -5px rgb(0, 0, 0, .1);
}

.title{
    display: flex;
    align-items: center;
}

.title h1{
    text-align: center;
}

.user{
    display: flex;
    align-items: center;
}

.user a{
    text-decoration: none;
    width: 28px;
    height: 28px;
}

.user a:hover{
    background: rgba(0, 0, 0, .1);
}

.user i,
.user .bg-img {
    margin-left: .5rem;
}

.user .bg-img{
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/img/5816231.jpg");
    border-radius: 50%;

}

.user .nom{
   background: #E3F4FE;
    color: black;
    border-radius: 30px;
    font-size: 1em;
    width: 150px;
    height: 25px;
    text-align: center;
    margin: 3px;
}

.user i{
    min-width: 50px;
    height: 50px;
    line-height: 25px;
    font-size: 1.5rem;
    color: #333333;
    position: relative;
    right: 10px;
}

.user i .tooltip{
    position: absolute;
    right: 35px;
    bottom: 150px;
    /*transform: translate(-50%, -50%);*/
    width: 80px;
    height: 25px;
    background: #949495;
    color:#333;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 25px;
    pointer-events: none;
    opacity: 0;
    font-size: 1rem;
}

.user i:hover .tooltip{
    transition: .5s ease;
    top: 90%;
    opacity: 1;
}


main{
    margin-top: 70px;
    min-height: 90%;
    padding: 1rem;
    width: calc(100% - 80px);
}

.box{
    width: 100%;
}

.edit-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-control{
    display: block;
    box-sizing: border-box;
    background: none;
    outline: none;
    color: #3b3535;
    margin-bottom: 30px;
    padding: 4px;
    width: 300px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0082e6;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.form-control:focus{
    border-bottom: 2px solid #3498db;
    border-bottom-right-radius: 20px;
    color: #3b3535;
    transition: 0.2s ease;
}


.form-label{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #151414;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}


.mb-3e{
    position: relative;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mb-3e a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    background: rgba(156, 162, 162, 0.6);
    border-radius: 20px;
    box-shadow: 2px 3px 2px rgb(0, 0, 0, .2);
    border-color: #D9EAF0;
    height: 30px;
    width: 160px;
}

.mb-3e a:hover{
    letter-spacing: 1px;
    width: 165px;
    opacity: 0.8;
}


.box .btn-valid a{
    text-decoration: none;
    color: black;
}

.box .btn-valid a:hover{
    opacity: 0.8;
    letter-spacing: 1px;
}

.box .btn-valid{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box .btn-valid .btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(80, 199, 241);
    border-radius: 20px;
    height: 30px;
    width: 130px;
    box-shadow: 2px 3px 2px rgb(0, 0, 0, .2);
    border:2px solid #D9EAF0;
}

.box .btn-valid #annuler {
    background: rgb(116, 115, 115);
}