<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>{% block title %}{% endblock %}</title>
    <!--  liens CSS-->
     {% block link %}{% endblock %}
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--  fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
        {% block content %}
        {% endblock %}



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    let btn = document.querySelector('#btn');
    let sidebar =document.querySelector('.sidebar');
    let listItem = document.querySelectorAll('.list-item');
    let main =document.querySelector('.main-content');
    let da =document.querySelector('#da');

    btn.onclick = function ()
    {
      sidebar.classList.toggle('active');
      main.classList.toggle('active');
      da.classList.toggle('active');
    }

    function activeLink(){
      listItem.forEach(item =>
      item.classList.remove('active'));
      this.classList.add('active');

    }
    listItem.forEach(item =>
    item.onclick = activeLink);

  </script>
</body>
</html>

