{% extends 'layout.html' %}

{% block title %}profil{% endblock %}
{% load static %}
{% block link %}  <link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}">{% endblock %}

{% block content %}

<div class="sidebar ">
  <div class="logo-container">
    <div class="logo">
      <ion-icon name="eye" class="i"></ion-icon>
      <h3>Lab2View</h3>
    </div>
    <i class='bx bx-menu' id="btn" ></i>
  </div>

  <ul class="list">


    <li class="list-item" id="dash" >
      <a href="{% url 'dashboard' %}">
        <i class='bx bxs-dashboard'></i>
        <span class="links-name"  >Tableau de bord</span>
      </a>
      <span class="tooltip" >Tableau de bord</span>
    </li>

    <li class="list-item" >
      <a href="{% url 'file' %}">
        <ion-icon name="file-tray-stacked-outline" class="in"></ion-icon>
        <span class="links-name" id="fich">Fichiers</span>
      </a>
      <span class="tooltip">Fichiers</span>
    </li>

    <li class="list-item" id="list-users" >
      <a href="{% url 'user_admin' %}">
        <i class='bx bxs-user-detail'></i>
        <span class="links-name" >Liste-Utilisateurs</span>
      </a>
      <span class="tooltip">Liste-Utilisateurs</span>
    </li>

    <li class="list-item active" >
      <a href="{% url 'profile' %}">
        <i class='bx bx-user'></i>
        <span class="links-name">Profil</span>
      </a>
      <span class="tooltip">Profil</span>
    </li>
  </ul>
</div>

  <div class="main-content">
    <header>
          <div class="title">
            <h1>Profil</h1>
          </div>

          <div class="user">
            <a href="{% url 'login' %}">
              <i class='bx bx-log-out'>
                <span class="tooltip">log-out</span>
              </i>

            </a>



            <div class="bg-img"></div>
            <div class="nom">DJIOJIP Rowane</div>
          </div>

    </header>


  <main>
    <div class="infos">
      <img src="{% static 'img/5816231.jpg' %}" alt="user">
      <span class="name">
        DJIOJIP OUANKAP Claude Rowane
      </span>
    </div>
    <div class="info-data">
      <div class="box">
        <h4 class="cles">Adresse courriel</h4>
        <span class="valeurs"> ouankaprowane@gmail.com</span>
      </div>
      <div class="box">
        <h4 class="cles">ville</h4>
        <span class="valeurs"> Douala</span>
      </div>
      <div class="box">
        <h4 class="cles">Protection des donnees et politiques</h4>
        <span class="valeurs"><a href="#">Politiques de confidentialites et contraintes d'utilisation</a></span>
      </div>
    </div>
    <a href="{% url 'profile_mod' %}" class="mod">Modifier le profil</a>
  </main>
</div>

{% endblock %}