{% extends 'layout.html' %}

{% block title %}liste_utilisateurs{% endblock %}
{% load static %}
{% block link %}  <link rel="stylesheet" type="text/css" href="{% static 'css/user-admin.css' %}">{% endblock %}

{% block content %}

<div class="sidebar ">
  <div class="logo-container">
    <div class="logo">
      <ion-icon name="eye" class="i"></ion-icon>
      <h3>Lab2View</h3>
    </div>
    <i class='bx bx-menu' id="btn" ></i>
  </div>

  <ul class="list">


    <li class="list-item" id="dash" >
      <a href="{% url 'dashboard' %}">
        <i class='bx bxs-dashboard'></i>
        <span class="links-name"  >Tableau de bord</span>
      </a>
      <span class="tooltip" >Tableau de bord</span>
    </li>

    <li class="list-item" >
      <a href="{% url 'file' %}">
        <ion-icon name="file-tray-stacked-outline" class="in"></ion-icon>
        <span class="links-name" id="fich">Fichiers</span>
      </a>
      <span class="tooltip">Fichiers</span>
    </li>

    <li class="list-item active" id="list-users" >
      <a href="{% url 'user_admin' %}">
        <i class='bx bxs-user-detail'></i>
        <span class="links-name" >Liste-Utilisateurs</span>
      </a>
      <span class="tooltip">Liste-Utilisateurs</span>
    </li>

    <li class="list-item" >
      <a href="{% url 'profile' %}">
        <i class='bx bx-user'></i>
        <span class="links-name">Profil</span>
      </a>
      <span class="tooltip">Profil</span>
    </li>
  </ul>
</div>

  <div class="main-content">
    <header>
          <div class="title">
            <h1>Liste_Utilisateurs</h1>
          </div>

          <div class="user">
            <a href="{% url 'login' %}">
              <i class='bx bx-log-out'>
                <span class="tooltip">log-out</span>
              </i>

            </a>



            <div class="bg-img"></div>
            <div class="nom-u">DJIOJIP Rowane</div>
          </div>

    </header>


  <main>

    <div class="page-header">

      <h2 class="title">Welcome</h2>

      <div class="search">
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
      </div>
    </div>

    <section class="files-content">
      <div class="files-grid">
        <div class="files-card">
          <div class="utils">
            <h3>Liste-Utilisateurs</h3>
            <a  href="{% url 'add_user' %}" class="ajout">Ajouter un utilisateur </a>
          </div>
          <table>
            <thead>
            <tr>
              <th>Nom</th>
              <th>role</th>
              <th>Accès-modification</th>
              <th>Accès-telechargement</th>
              <th>Placer-administrateur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="nom"> Rayan Ghomsi</td>
              <td ><span class="category-user">utilisateur</span></td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
            </tr>
            <tr>
              <td class="nom"> claude Djiojip</td>
              <td ><span class="category-user">admin</span></td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
            </tr>
            <tr>
              <td class="nom"> Patricia Manoie</td>
              <td ><span class="category-user">salarié</span></td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
            </tr>
            <tr class="nom">
              <td> Farel James</td>
              <td ><span class="category-user">utilisateur</span></td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
            </tr>
            <tr>
              <td class="nom"> Charles Desmond</td>
              <td ><span class="category-user">salarié</span></td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
              <td class="acces-m">
                <div class="action1"><a href="#"><ion-icon name="checkmark-outline" class="iv"></ion-icon></a></div>
                <div class="action2"><a href="#"><ion-icon name="close-outline" class="iv"></ion-icon></a></div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="filter">
          <div class="items">
            <i class='bx bx-filter-alt' ></i>
            <span class="word">Trier par : </span>
          </div>
          <ul class="filter-list">
            <li class="list-filter"><a href="#">admin</a></li>
            <li class="list-filter"><a href="#">utilisateur</a></li>
            <li class="list-filter"><a href="#">salarié</a></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</div>

{% endblock %}
